[submodule "aws-maintained/java"]
	path = aws-maintained/java
	url = https://github.com/aws/aws-durable-execution-sdk-java.git
[submodule "aws-maintained/js"]
	path = aws-maintained/js
	url = https://github.com/aws/aws-durable-execution-sdk-js.git
[submodule "aws-maintained/python"]
	path = aws-maintained/python
	url = https://github.com/aws/aws-durable-execution-sdk-python.git
[submodule "aws-maintained/dotnet"]
	path = aws-maintained/dotnet
	url = https://github.com/aws/aws-lambda-dotnet.git
[submodule "community/python-async"]
	path = community/python-async
	url = https://github.com/zhongkechen/async-durable-execution.git
[submodule "community/go-kurochan"]
	path = community/go-kurochan
	url = https://github.com/kurochan/aws-durable-execution-go.git
[submodule "community/go-dgr237"]
	path = community/go-dgr237
	url = https://github.com/dgr237/aws-durable-execution-sdk-go.git
[submodule "community/rust-pgdad"]
	path = community/rust-pgdad
	url = https://github.com/pgdad/durable-rust.git
[submodule "community/rust-alessandrobologna"]
	path = community/rust-alessandrobologna
	url = https://github.com/alessandrobologna/lambda-durable-execution-rust.git
[submodule "community/rust-bnusunny"]
	path = community/rust-bnusunny
	url = https://github.com/bnusunny/durable-execution-rust-sdk.git
[submodule "supporting/conformance-tests"]
	path = supporting/conformance-tests
	url = https://github.com/aws/aws-durable-execution-conformance-tests.git
[submodule "supporting/ci"]
	path = supporting/ci
	url = https://github.com/aws/aws-durable-execution-ci.git
[submodule "supporting/docs"]
	path = supporting/docs
	url = https://github.com/aws/aws-durable-execution-docs.git
